.flexContainer{
    display: flex;
    height: 100%;
    width: 100%;
}
.leftColumn{
    flex: 1;
    height: 100vh;
    background-color: #d81010;
}
.rightColumn{
    flex:1;
    height: 100vh;
    background-color: #f0f0f0;
    margin-left: 10px;
}